form> .button:hover{
          background: rgb(253, 89, 97) !important;
          color: white !important;
         border: none !important;
         }
         .custom-ul{
             margin-left:auto;
             font-size:18px;
         }
         .custom-btn-nav{
                     color: rgb(97,94,94) !important; 
                 border: rgb(77,75,73) solid 2px ;
                 border-radius: 30px ;
                 padding: 14px 37px ;
         }